<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>
        ToDo Application
    </display-name>

    <welcome-file-list>
        <welcome-file>/login</welcome-file>
    </welcome-file-list>
</web-app>

<!--<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">-->
    <!--<servlet>-->
        <!--<servlet-name>comingsoon</servlet-name>-->
        <!--<servlet-class>shivam.Login_Servlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>comingsoon</servlet-name>-->
        <!--<url-pattern>/landing</url-pattern>-->
    <!--</servlet-mapping>-->
<!--</web-app>-->